
<body>
    <div class="background">
         <div class="part-1">
            <p>Your company bestfriend</p>
            <img src="../../../assets/Email capture-amico.png" alt="">
    </div> 
    <div class="screen">
        <div class="form">
            <p class="sing-in">Sing up</p>
            <div class="spaces">
                
                <input type="text" placeholder="Email">
            </div>
            <div class="spaces">
                
                <input type="text" placeholder="Password">
            </div>
            <div class="spaces">
               <p class="have-account">Don't have a account? <a routerLink="/register">Sing up</a></p>
            </div>
            
            <div class="buttons">
                <button class="registerbutton">Login</button>
                <p>or</p>
                <button><mat-icon>person</mat-icon> Demo account</button>
            </div>
                
        </div>
    </div>
    </div>


  
    
</body>

