
<body>
    <div class="background">
         <div class="part-1">
            <p>Your company bestfriend</p>
            <img src="../../../assets/Email capture-amico.png" alt="">
    </div> 
    <div class="screen">
        <form class="form"  [formGroup]="form" (ngSubmit)="onRegisterSubmit()" #formDir="ngForm">
            <p class="sing-in">Sing in</p>
            <div class="spaces">
                    
                    <input type="text" placeholder="Email" formControlName="email" [ngStyle]="{'border-color': (email.invalid && formDir.submitted) ? 'red' : 'initial'}">
                    <div *ngIf="email.invalid && formDir.submitted" >
                        <p class="validation" *ngIf="email.errors?.['required']" >This field can't be empty</p>
                        <p class="validation"  *ngIf="email.errors?.['email']" >Invalid email format</p>
                    </div>
                    
            </div>
            <div class="spaces">
        
                <input type="password" placeholder="Password" formControlName="password"  [ngStyle]="{'border-color': (password.invalid && formDir.submitted) ? 'red' : 'initial'}">
                <div *ngIf="password.invalid && formDir.submitted" >
                    <p class="validation" *ngIf="password.errors?.['required']" >This field can't be empty</p>
                </div>
            </div>
            <div class="spaces">
               <p class="have-account">Don't have a account? <a routerLink="/register">Sing up</a></p>
            </div>
            
            <div class="buttons">
                <button class="registerbutton">Login</button>
                <p>or</p>
                <a><mat-icon>person</mat-icon> Demo account</a>
            </div>
                
        </form>
    </div>
    </div>


  
    
</body>

