
<body>
    <div class="background">
         <div class="part-1">

    </div> 
    <div class="screen">
        <div class="form">
            <div class="spaces">
               
                <input type="text" placeholder="Full name">
            </div>
            <div class="spaces">
                
                <input type="text" placeholder="Email">
            </div>
            <div class="spaces">
                
                <input type="text" placeholder="Password">
            </div>
            <div class="spaces">
                <p>Select area: </p>
               <select name="Area" id="area">
                <option value="business">business</option>
                <option value="technology">business</option>
                <option value="retail">retail</option>
               </select>
               
            </div>
            <div class="buttons">
                <button>Register</button>
                <button>Demo account</button>
            </div>
                
        </div>
    </div>
    </div>


  
    
</body>

<script>
   
</script>