
<body>
    <div class="background">
         <div class="part-1">
            <p>Your company bestfriend</p>
            <img src="../../../assets/Email capture-amico.png" alt="">
    </div> 
    <div class="screen">
        <div class="form">
            <p class="sing-in">Sing in</p>
            <div class="spaces">
               
                <input type="text" placeholder="Full name">
            </div>
            <div class="spaces">
                
                <input type="text" placeholder="Email">
            </div>
            <div class="spaces">
                
                <input type="text" placeholder="Password">
            </div>
            <div class="spaces">
                <p class="select-area-p">Select area: </p>
               <select name="Area" id="area">
                <option value="business">business</option>
                <option value="technology">business</option>
                <option value="retail">retail</option>
               </select>
               <p class="have-account">Have a account? <a href="">Sing in</a></p>
            </div>
            
            <div class="buttons">
                <button class="registerbutton">Register</button>
                <p>or</p>
                <button><mat-icon>person</mat-icon> Demo account</button>
            </div>
                
        </div>
    </div>
    </div>


  
    
</body>

