
<body>
    <div class="background">
         <div class="part-1">
            <p>Your company bestfriend</p>
            <img src="../../../assets/Email capture-amico.png" alt="">
    </div> 
    <div class="screen">
        <form class="form" [formGroup]="form" (ngSubmit)="onRegisterSubmit()" #formDir="ngForm">
            <p class="sing-in">Sing in</p>
            <div class="spaces">
                <input type="text" placeholder="Full name" formControlName="name"  [ngStyle]="{'border-color': (name.invalid && formDir.submitted) ? 'red' : 'initial'}">
                <div *ngIf="name.invalid && formDir.submitted" >
                    <p class="validation" *ngIf="name.errors?.['required']" >This field can't be empty</p>
                    <p class="validation"  *ngIf="name.errors?.['maxlength']" >Maximum caracters is 80</p>
                    <p class="validation"  *ngIf="name.errors?.['minlength']" >Miniumum caracters is 3</p>
                </div>
                
            </div>
            <div class="spaces">
                <input type="text" placeholder="Email" formControlName="email" [ngStyle]="{'border-color': (email.invalid && formDir.submitted) ? 'red' : 'initial'}">
                <div *ngIf="email.invalid && formDir.submitted" >
                    <p class="validation" *ngIf="email.errors?.['email']" >Email formt invalid</p>
                    <p class="validation" *ngIf="email.errors?.['required']" >This field can't be empty</p>
                </div>
            </div>
            <div class="spaces">
                <input type="text" placeholder="Password" formControlName="password" [ngStyle]="{'border-color': (password.invalid && formDir.submitted) ? 'red' : 'initial'}">
                <div *ngIf="password.invalid && formDir.submitted" >
                    <p class="validation" *ngIf="password.errors?.['required']" >This field can't be empty</p>
                    <p class="validation" *ngIf="password.errors?.['minlength']" >Minimium size is 8 caracters</p>
                </div>
            </div>
            <div class="spaces">
                <p class="select-area-p">Select area: </p>
               <select name="Area" id="area" formControlName="area" [ngStyle]="{'border-color': (area.invalid && formDir.submitted) ? 'red' : 'initial'}">
                <option value="business">business</option>
                <option value="technology">business</option>
                <option value="retail">retail</option>
               </select>
               <div *ngIf="area.invalid && formDir.submitted" >
                <p class="validation" *ngIf="area.errors?.['required']" >This field can't be empty</p>
            </div>
               <p class="have-account">Have a account? <a routerLink="/login">Sing in</a></p>
            </div>
            
            <div class="buttons">
                <button class="registerbutton">Register</button>
                <p>or</p>
                <a><mat-icon>person</mat-icon> Demo account</a>
            </div>
                
        </form>
    </div>
    </div>


  
    
</body>

