<footer>
    <div class="container">
       
        <div class="part-1">
            <img class="logo" src="../../../assets/fxsales.png" alt="logo">
                <div class="part-1-section">
                    <mat-icon>mail_outline</mat-icon>
                    <p id="no-margin">lucaslemos8294@gmail.com</p>
                </div>
                <div class="part-1-section">
                    <mat-icon> phone</mat-icon>
                    <p id="no-margin">+55 9999999</p>
                </div>
                <div class="part-1-section">
                    <mat-icon> location_on</mat-icon>
                    <p id="no-margin">Brazil</p>
                </div>
                <div class="part-1-section">
                    <mat-icon> location_on</mat-icon>
                    <p id="no-margin">Brazil</p>
                </div>

        </div>
       
        <div class="part-1">
           <P class="title">Politics</P>
                <div  class="part-1-section">
                  
                    <p>Cryptography</p>
                </div>
                <div  class="part-1-section">
                  
                    <p>Privacy</p>
                </div>
                <div  class="part-1-section">
                   
                    <p>Use of datas</p>
                </div>
                <div   class="part-1-section">
                    <p>Refound</p>
                </div>

        </div>
        <div class="part-1">
            <P class="title">About</P>
                 <div  class="part-1-section">
                   
                     <p>Guidelines</p>
                 </div>
                 <div  class="part-1-section">
                   
                     <p>Sales solutions</p>
                 </div>
                 <div  class="part-1-section">
                    
                     <p>For cellphone</p>
                 </div>  
         </div>
         <div class="part-1">
            <P class="title">Marketing</P>
                 <div  class="part-1-section">
                   
                     <p>Marketing solution</p>
                 </div>
                 <div  class="part-1-section">
                   
                     <p>Advertising</p>
                 </div>
                 <div  class="part-1-section">
                    
                     <p>Small companys</p>
                 </div>
                 <div   class="part-1-section">
                     <p>New features</p>
                 </div>
 
         </div>
        </div>
    
</footer>
