<app-header></app-header>
<body>
        <section class="banner">
                
                <div class="retangulo">
                        <p>We help more than 120 enterprises around the world </p>
                        <img class="globle-gif"  cla src="../assets/IAG_globe_v5.gif" alt="globe">
                        <button class="learn-more">learn more</button>
                </div>
        </section>
        
        <div class="container">
                <img src="../assets/escelll.png" alt="man sit on dashboard computer">
                <div class="texts">
                        <h1>Manage your bussines quickly</h1>
                        <p>Stop being hostage to multiple platforms to manage a single business, here you can find everything in one place</p>
                        <div class="skills">
                                
                        </div>
                </div>
                
        </div>
</body>