<app-header></app-header>
<body>
        <section class="banner">
                
                <div class="retangulo">
                        <p>We help more than 120 enterprises around the world </p>
                        <img class="globle-gif"  cla src="../assets/IAG_globe_v5.gif" alt="globe">
                        <button class="learn-more">learn more</button>
                </div>
        </section>
        
        <div class="container">
                <img src="../assets/escelll.png" alt="man sit on dashboard computer">
                <div class="texts">
                        <h1>Manage your bussines quickly</h1>
                        <p class="first-p">Stop being hostage to multiple platforms to manage a single business, here you can find everything in one place</p>
                </div>
        </div>
        <h1 class="we-offer">We offer</h1>
        <div class="container-skills">
                <div class="skills">
                        <mat-icon>donut_small</mat-icon>
                        <p class="skills-p-1">Bussines data</p>
                        <p class="skills-p-2">Unlock powerful insights with our comprehensive analytics tools. Optimize strategies and drive growth with data-driven decisions.</p>
                  </div>
                  <div class="skills">
                        <mat-icon>language</mat-icon>
                        <p class="skills-p-1">Work in group</p>
                        <p class="skills-p-2">Collaborate effortlessly and streamline sales with our intuitive work in group feature. Boost productivity and teamwork.</p>
                  </div>
                  <div class="skills">
                        <mat-icon>open_in_browser</mat-icon>
                        <p class="skills-p-1">Storage sales</p>
                        <p class="skills-p-2">Embrace digital storage for sales records. Our platform offers secure storage solutions for easy access. Simplify your workflow and eliminate physical storage.</p>
                  </div>
                  <div class="skills">
                        <mat-icon>access_time</mat-icon>
                        <p class="skills-p-1">Save time</p>
                        <p class="skills-p-2">Automate tasks, streamline processes. Focus on closing deals and growing your business. Increased efficiency.</p>
                  </div>
                  <div class="skills">
                        <mat-icon>track_changes</mat-icon>
                        <p class="skills-p-1">Streamline Operations</p>
                        <p class="skills-p-2">Simplify sales operations for excellence. Integrate workflows. Boost productivity, enhance experiences.</p>
                  </div>
        </div> 
        <div class="container-2">
                <img src="../assets/uploading file.png" alt="man sit on dashboard computer">
                <div class="texts">
                        <h1>Say bye to the past, and hi to the future</h1>
                        <p class="first-p">Entering orders on paper is a thing of the past, now you can make your team's life easier by automating the entry of orders in the cloud</p>
                </div>
        </div>
       <section class="banner-2">
        <div class="background-black"></div>
        <h1>All that you ever dream</h1>
        <p>with a low cost of computational processing, we provide a high yield in your production</p>
       </section>
       
       <section class="banner-3">
                  <img src="../assets/excel.png" alt="excel">
       </section>
       <button class="learn-more-2">Get started</button>
</body>