<app-header></app-header>
<body>
    <div class="container">
        
       <div class="attach-text" *ngIf="!client?.excelFile">
                <p>Attach Your excel table</p>
            </div>
        <div class="custom-file-wrp" *ngIf="!client?.excelFile">
            
            <div class="filename">
                Files .XLSL
                <div class="custom-file">
                    
                    <label for="fileupload"><mat-icon>attach_file</mat-icon></label>
                        <input type="file" id="fileupload" name="excel" (change)="onChange($event)">
            </div>
            </div>
            <button (click)="uploadFile()">Save</button>
        </div>
        <div>
                
            <div class="sales-history-container">
                <p class="sales-history-container-p1">Recent sales</p>
                <div class="sales-history">
                    <p *ngIf="client.sales == null" class="sales-history-container-p2">You don't put up new sales</p>
                </div>
            </div>
        </div>
        <h1 class="dashboard-text">Dashboard</h1>
        <div class="first-graphics">
                
            <div class="sales-dashboard">
                <p>Sales</p>
            </div>
            <div class="revenue-dashboard">
                <p>Revenue</p>
            </div>
            <div class="revenue-dashboard">
                <p>Profit</p>
            </div>
            <div class="revenue-dashboard">
                <p>Profit</p>
            </div>
        </div>

    </div>
</body>
<app-footer></app-footer>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    $(function()
    {
        $("#fileupload").change(function(event){
            console.log(event.target.files[0].name)
           var x = event.target.files[0].name
            $(".filename").text(x)
        });
    }
    )
  
</script>