<app-header></app-header>
<body>
    <div class="container">
        <h1>Goor morning</h1>
        <div class="field-group">
            <input type="file" name="file[]" id="file" class="file-field">
            <label for="file" class="file-label background">
                <i class="fa fa upload"></i>
                <span>Chose a file&hellip;</span>
            </label>
        </div>
       
        
        <div class="first-graphics">
           
          
            <div class="sales-dashboard">
                <p>Sales</p>

            </div>
            <div class="revenue-dashboard">
                <p>Revenue</p>
            </div>
            <div class="revenue-dashboard">
                <p>Profit</p>
            </div>
            
            
        </div>

    </div>
</body>
<app-footer></app-footer>