body{
    background-color: rgb(235, 235, 235);
    min-height: 100vh;
    padding-top: 90px;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 0 5em ;
}
.first-graphics{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 4em;
}
.sales-dashboard, .revenue-dashboard{
    margin-top: 20px;
    min-width: 300px;
    width: 60%;
    max-width: 500px;
    background-color: rgb(255, 255, 255);
    height: 350px;
    border-radius: 10px;
    margin: 2em 2em 0;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
}
.sales-history{
    
    min-width: 300px;

    height: 100px;
    background-color: #fff;
    justify-content: center;
    
}
.first-graphics p{
    margin-left: 1em;
    font-family: 'Poppins', sans-serif;
}
.main-datas{
    width: 100%;
    background-color: white;
    height: 200px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
}
.sales{
    display: flex;
    flex-direction: column;
}
.dashboard-text{
    margin-top: 40px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.attach-text{
      margin-top: 40px;
      
     
}
.attach-text p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    white-space: nowrap;
    text-indent: -110px;
}

.custom-file-wrp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-file-wrp button{
    cursor: pointer;
    background-color: #ed1c24;
    display: inline-block;
    color: #ffffff;
    border: none;
    align-items: center;
    margin-left: 20px;
    padding: 13px 23px;
    text-align: center;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.filename{
    background-color: #fff;
    display: flex;
    border: 1px solid #ddd;
    width: 200px;
    min-width: 200px;
    margin-right: 0px;
    color: #999;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}
.custom-file{
    align-items: flex-end;
}
.custom-file input[type="file"]{
    display: none;
}
.custom-file label{
    cursor: pointer;
    background-color: #000000;
    display: inline-block;
    color: #ffffff;
    
    align-items: center;
    padding: 8px 20px;
    text-align: center;
}
.sales-history-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
    align-items: center; 
}
.sales-history{
    width: 100%;
    background-color: #fff;
    height: 120px;
    border-radius: 5px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.sales-history p{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-family: 'Poppins', sans-serif;
}
.sales-history-container-p1{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}
.sales-history-container-p2{
color: #cacaca;
}
















