body{
    background-color: rgb(235, 235, 235);
    min-height: 100vh;
    padding-top: 90px;
}
*{
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0 5em ;
}
.first-graphics{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 2em;
}
.sales-dashboard, .revenue-dashboard{
    margin-top: 20px;
    min-width: 300px;
    width: 60%;
    max-width: 500px;
    background-color: rgb(255, 255, 255);
    height: 350px;
    border-radius: 10px;
    margin: 2em 2em 0;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
}
.first-graphics p{
    margin-left: 1em;
}
.main-datas{
    width: 100%;
    background-color: white;
    height: 200px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
}
.sales{
    display: flex;
    flex-direction: column;
}
.custom-file-wrp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.filename{
    background-color: #fff;
    padding: 15px 15px;
    border: 1px solid #ddd;
    width: 300px;
    margin-right: 15px;
    color: #999;
}
.custom-file input[type="file"]{
    display: none;
}
.custom-file label{
    cursor: pointer;
    background-color: #ed1c24;
    display: inline-block;
    color: #ddd;
    padding: 14px 40px;
    text-align: center;
}















