<app-header></app-header>
<body>
    <div class="container">
        
        <div class="attach-text">
            <p>Attach Your excel table</p>
        </div>
        <div class="custom-file-wrp">
            
            <div class="filename">
                Files .XLSL
                <div class="custom-file">
                    
                    <label for="fileupload"><mat-icon>attach_file</mat-icon></label>
                        <input type="file" id="fileupload" name="excel" >
            </div>
            </div>
            <button>Save</button>
        </div>
        <div class="sales-history">
            
        </div>
        <h1 class="dashboard-text">Dashboard</h1>
        <div class="first-graphics">
                
            <div class="sales-dashboard">
                <p>Sales</p>
            </div>
            <div class="revenue-dashboard">
                <p>Revenue</p>
            </div>
            <div class="revenue-dashboard">
                <p>Profit</p>
            </div>
            <div class="revenue-dashboard">
                <p>Profit</p>
            </div>
        </div>

    </div>
</body>
<app-footer></app-footer>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    $(function()
    {
        $("#fileupload").change(function(event){
            console.log(event.target.files[0].name)
           var x = event.target.files[0].name
            $(".filename").text(x)
        });
    }
    )
  
</script>