.buttons{
    margin-right: 30px;
    width: 100px;
    height: 35px;
    margin-left: 20px;
    background-color: transparent;
    border: 2px solid #1680E0;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #1680E0;
    font-weight: 400;
    margin-left: 40px;
    transition: .5s;
    z-index: 5;
}
*{
    font-family: 'Inter', sans-serif;
}

#my-first{
    position: fixed;
    width: 100%;
    z-index: 5;
}
img{
 margin-top: 0.6rem;
 margin-bottom: 0.6rem;
 width:fit-content;
 margin-left: 100px;
 height: 30px;
 z-index: 5;
}
#my-first ul {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 5;
   
}
#my-first .logotype a {
    padding: 0 8px;
    font-size: 1.4rem;
    text-decoration: none;
    color: #07c;
    z-index: 5;
}
#my-first .burger {
    padding: 0 10px;
    border-left: 1px solid #eee;
    display: none;
    cursor: pointer;
    z-index: 5;
}
#my-first .burger i {
    color: #999;
    line-height: 60px;
    z-index: 5;
}
.menu-item-log{
    display: none;
}
.menu{
    text-align: center;
    margin: 0 auto; 
    display: flex; 
    justify-content: center 
}

@media (max-width: 980px) {
    .buttons{
        display: none;
    }
    .menu-item-log{
        padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    color: #4f9bff;
    z-index: 5;
    }
   
    #my-first .burger {
        display: block;
        z-index: 5;
   }
   .bar .buttons{
    width: 100px;
    height: 35px;
    background-color: transparent;
    border: 2px solid #61892f;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #86C232;
    font-weight: 400;
    transition: .5s;
    position: relative;
    padding-right: 1rem;
    z-index: 5;
}
}
#my-first .menu {
    display: flex;
    align-items: center;
    z-index: 5;
}
@media (max-width: 980px) {
    img{
        margin-left: 50px;
    }
    #my-first .menu {
        display: none;
        z-index: 5;
   }
    #my-first .menu.is-open {
        display: block;
        position: absolute;
        top: 62px;
        background: #fff;
        width: 100%;
        z-index: 5;
   }
    #my-first .menu.is-open .menu-item {
        border-bottom: 1px solid #ccc;
        z-index: 5;
   }
}
#my-first .menu .menu-item {
    padding: 0 10px;
    
    line-height: 60px;
    text-decoration: none;
    display: block;
  
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    color: #000000;
    z-index: 5;
}